.container {
  height: auto;
  padding: 0 20px;
}

.title {
  margin-top: 30px;
  font-family: "ubuntu";
  font-size: 2rem;
}

.title > span {
  color: #42c6ff;
}

.text {
  font-family: "poppins";
  margin-top: 20px;
  margin-bottom: 20px;
}
