.section_solutions {
  padding-top: 30px;
  background-color: #282828;
}

.h1 {
  font-family: "poppins";
  text-transform: uppercase;
  color: #00f4ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1::before {
  content: ".";
  width: 2px;
  font-size: 10px;
  background-color: #fff;
  color: #fff;
  margin-right: 5px;
}

.h2 {
  font-family: "roboto";
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 8px;
}

.span {
  color: #00f4ff;
}

.div_bg_blue {
  background-color: #01c8e2;
  height: 200px;
}

.slider {
  width: 325px;
  margin: 20px auto;
}

.slider_item {
  margin-bottom: 10px;
  min-height: 440px;
}

.card_title {
  font-family: "poppins";
  font-weight: bold;
  font-size: 1.5rem;
}

.btn {
  background-color: #01c8e2;
  color: #000;
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: "poppins";
  font-weight: bold;
  text-transform: uppercase;
}
