.separator::after {
  content: "";
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 3px;
  background-color: #00f4ff;
  max-width: 3rem;
  left: 45%;
  margin-top: 5px;
}

@media (min-width: 1024px) {
  .separator::after {
    margin-top: 10px;
    max-width: 6rem;
    left: 0;
  }
}

.slider_item {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /*   max-width: 320px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: grab; */
}

.separator_2::after {
  background-color: #0078ac;
  margin-top: 0;
}

@media (min-width: 1024px) {
  .separator_2::after {
    margin-top: 10px;
    max-width: 6rem;
    left: 50px;
  }
}

/* ANIMAÇÃO DAS LOGOMARCAS */

@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.div_logos_animated {
  animation: slidein 15s linear 1s infinite;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .div_logos_animated {
    animation: slidein 30s linear 1s infinite;
  }
}

.logo_img {
  margin-right: 50px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.logo_img:hover {
  filter: grayscale(0%);
}
