/* ESTILIZAÇÃO DO NAVBAR AO DAR SCROLL NA PÁGINA*/

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 40px); /* Ajuste conforme necessário */
  z-index: 1000;
  box-shadow: 0 0.33rem 1.105rem rgba(11, 11, 11, 0.35);
  background: #000;
  border-radius: clamp(1.5rem, 1.2rem + 1.5vw, 3rem) 1rem
    clamp(1.5rem, 1.2rem + 1.5vw, 3rem) 1rem !important;
  padding: 0 clamp(1rem, -0.0689655172rem + 1.724137931vw, 1rem) !important;
  transition: all 0.3s ease;
  margin: 10px 20px;
}
