.header {
  height: 500px;
  margin-top: 30px;
}

.bg {
  position: absolute;
  bottom: 0;
  opacity: 0.15;
}

.title {
  font-family: "poppins";
  font-weight: bold;
  font-size: 2rem;
}

.first_section {
  background-color: #fff;
  color: #000;
}
